@{   
    var notifications = TempData.GetNotifications();

    if (notifications.TryGetValue(NotificationType.Success.ToString(), out var successMessages))
    {
        <div class="alert alert-success" id="dvMasterMsg">
            @Html.Raw(string.Join("<br />", successMessages.ToArray()))
        </div>
    }
    else if (notifications.TryGetValue(NotificationType.Error.ToString(), out var errorMessages))
    {
        <div class="alert alert-danger" id="dvMasterMsg">
            @Html.Raw(string.Join("<br />", errorMessages.ToArray()))
        </div>
    }
    else if (notifications.TryGetValue(NotificationType.Warning.ToString(), out var warningMessages))
    {
        <div class="alert alert-warning" id="dvMasterMsg">
            @Html.Raw(string.Join("<br />", warningMessages.ToArray()))
        </div>
    }
    else if (notifications.TryGetValue(NotificationType.Info.ToString(), out var infoMessages))
    {
        <div class="alert alert-info" id="dvMasterMsg">
            @Html.Raw(string.Join("<br />", infoMessages.ToArray()))
        </div>
    }
}