@model CostTypeModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>CostType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CostTypeId" class="control-label">Id</label>
                <input asp-for="CostTypeId" class="form-control" readonly="readonly" />
            </div>
            <div class="form-group">
                <label asp-for="CostTypeDescription" class="control-label">Description</label>
                <input asp-for="CostTypeDescription" class="form-control" />
                <span asp-validation-for="CostTypeDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
